.dashboard-news-link-title {
}
.dashboard-news-date {
  color: #444444;
  display: inline-block;
  font-size: 0.85em;
  width: 110px;
}
.dashboard-news-more-link {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 114px;
}
.view-web-resources-news .view-content .views-row .views-field {
  margin-bottom: 2px;
}
